
@model MVC_CRUD.Models.User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact Tracing Form";
}

<h2>Contact Tracing Form</h2>

<form asp-action="contacttrace" method="post">
    <div class="form-group">
        <label class="form-label">Name</label>
        <input class="form-control" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label class="form-label">Address</label>
        <input class="form-control" asp-for="Address" />
        <span class="text-danger" asp-validation-for="Address"></span>
    </div>

    <div class="form-group">
        <label class="form-label">Age</label>
        <input class="form-control" asp-for="Age" />
        <span class="text-danger" asp-validation-for="Age"></span>
    </div>

    <div class="form-group">
        <label class="form-label">Gender</label>
        <input class="form-control" asp-for="Gender" />
        <span class="text-danger" asp-validation-for="Gender"></span>
    </div>

    <div class="form-group">
        <label class="form-label">Date/Time In</label>
        <input class="form-control" asp-for="Date_TimeIn" />
        <span class="text-danger" asp-validation-for="Date_TimeIn"></span>
    </div>

    <div class="form-group">
        <label class="form-label">Temperature</label>
        <input class="form-control" asp-for="Temperature" />
        <span class="text-danger" asp-validation-for="Temperature"></span>
    </div>

    <div class="form-group">
        <label class="form-label">Mobile Number</label>
        <input class="form-control" asp-for="MobileNumber" />
        <span class="text-danger" asp-validation-for="MobileNumber"></span>
    </div>

    <div class="form-group">
        <label class="form-label">Email Address</label>
        <input class="form-control" asp-for="EmailAddress" />
        <span class="text-danger" asp-validation-for="EmailAddress"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>